NODE_ENV=production

HOST_API=http://localhost:4000
HOST_WEB=http://localhost:3000
COOKIE_DOMAIN=localhost
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
CORS_CREDENTIALS=true

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_TIMEZONE=
DB_CHARSET=
DB_SYNCHRONIZE=
DB_LOGGING=
DB_SSL=true

REDIS_HOST=
REDIS_PORT=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_UPLOAD_PREFIX=
AWS_BUCKET_PATH=
AWS_CLOUDFRONT=
AWS_OPENSEARCH_NODE=

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

SOCIAL_GOOGLE_CLIENT_ID=-
SOCIAL_GOOGLE_CLIENT_SECRET=-
SOCIAL_KAKAO_CLIENT_ID=
SOCIAL_KAKAO_CLIENT_SECRET=
SOCIAL_GITHUB_CLIENT_ID=
SOCIAL_GITHUB_CLIENT_SECRET=

SOCIAL_GOOGLE_REDIRECT_URI=
SOCIAL_GITHUB_REDIRECT_URI=
SOCIAL_KAKAO_REDIRECT_URI=

API_DOCS_AUTH_ID=
API_DOCS_AUTH_PASSWORD=

# Docker Compose (local dev)
DOCKERHUB_USERNAME=
IMAGE_TAG=

USER_API_PORT=
BATCH_PORT=

